<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Assignment B1 - CRUD Snippets</title>
  <link rel="icon" href="https://gitlab.lnu.se/uploads/-/system/project/avatar/37930/exam.png?width=64" type="image/png">
  <base href="<%= baseURL %>" />
  <link rel="stylesheet" href="./css/style.css"></link>
  <script type="module" src="./js/index.js"></script>
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body>
  <%- include('../partials/header') %>
  <main>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>